<html lang="en">
    <%- include('./partials/head', {title: 'task-details'}) %> 
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="main">
            
            <div class="form-container">
                <span> Task Details</span> <br><br>
       
        
            <h3 class="title"><%=task.title %></h3>
           <p class="details"><b>Description:</b> <%=task.description %></p><br>
            <p class="details"><b>Deadline:</b> <%=task.deadline %></p><br>
            <p class="details"><b>Priority:</b> <%=task.priority %></p><br>
            <h6 class="timestamp">Created: <%=task.createdAt %></h6><br>
            <a class="delete" data-doc="<%- task._id %>"><button>Delete</button></a>
            <a href="/tasks/edit/<%- task._id%>" class="edit"><button>Edit</button></a>

    
    </div>
        
        
        
        </div>
        <%- include('./partials/footer.ejs') %>
    
    </div>

<script>
 const deleteButton = document.querySelector('a.delete');
 deleteButton.addEventListener('click', (e)=>{
    const endpoint = `/tasks/${deleteButton.dataset.doc}`;

    fetch(endpoint, {
        method: 'DELETE'
    })
    .then((response)=> response.json())
    .then((data) => window.location.href= data.redirect)
    .catch(err => console.log(err));
 })

</script>

   
</body>
</html>