<html lang="en">
    <%- include('./partials/head', {title: 'edit-task'}) %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="main">
            
            <div class="form-container">
        <span>Edit task</span><br><br>

        <form id="frm" action="/tasks/<%- task._id%>?_method=patch"  method="post">
        <label for="title"><b>Title:</b></label>
        <input type="text" name="title" id="title" value="<%=task.title %>"  /><br><br>

    
        <label for="description"><b>Description:</b></label>
       
        <textarea id="description" name="description"  row="3" cols="20"><%=task.description %></textarea><br><br>
        
                 <label for="start"><b>Deadline:</b></label>
                <input type="date" id="start" name="deadline" value="<%=task.deadline %>"  min="2024-12-01" max="2030-12-31"/>
        
            <br><br>
            <label for="priority"><b>Priority:</b></label>
            <select id="priority" name="priority">
                <option value="none" selected disabled hidden><%=task.priority %></option>
                <option value="low">low</option>
                <option value="medium">medium</option>
                <option value="high">high</option>
                </select>
            <br><br>
            <button class="submit-btn" type= "submit">Save changes</button>
           
        </form>
        </div>
        
    </div>
    <%- include('./partials/footer.ejs') %>
    
    </div>
    
   
</body>
</html>



