<html lang="en">
    <%- include('./partials/head', {title: 'taskmanager'}) %> 
<body>
    <%- include('./partials/nav.ejs') %>
    
        <div class="main">
            
            
            <div class="form-container">
                <span id="all"> Tasks (<%= tasks.length %>)</span> <br><br>  
       
        <% if (tasks.length>0){%>
        <% tasks.forEach(task=>{%>
            <div class="eachTask">
                <a  class="single" href="/tasks/<%- task._id%>" >
                <%=task.title %></a>
            <h6 class="timestamp">Created: <%=task.createdAt %></h6></div>
            

       <% })%>
    
    <%} else{%>

        <p>No task added yet...</p>
    <%} %>
        
    </div>
        
        
        
        </div>
        <%- include('./partials/footer.ejs') %>
    
    </div>
   
</body>
</html>